.cache
node_modules/
.idea
.vscode
npm-debug.log*
.DS_Store
*.sublime*
*.log
/lib
/public
__diff_output__
yarn-error.log
stand-app/build
/website/i18n/en.json
/gcs_auth.json

**/allure-report/chrome
**/allure-report/firefox
**/allure-results

**/__diff_snapshots__
**/.tmpTestsPath

packs/sparrow/**/*.js
packs/sparrow/**/*.d.ts

# Это временная секция, до перевода всех packs на ts
packs/di/types.d.ts
packs/di/types.js
packs/types/index.d.ts
packs/types/index.js
